//header
@import "variables";

#header__wrapper {
    background-color: $headerBackgroundColor;
    background-repeat: no-repeat;
    background-position: top;

    #header {
        min-height: 100px !important;

        #action-bar {
            background-color: $primaryColor;
            z-index: 30;
            line-height: 21px;

            .container {
                padding: 0 12px;
                width: 1170px;
                @media screen and (max-width: 992px) {
                    width: 970px;
                }
                @media screen and (max-width: 768px){
                    width: 750px;
                }
            }

            .contact-details ul {
                color: hsla(0, 0%, 100%, .5);

                li {
                    margin-right: 10px;
                    padding: 5px 0;

                    &:first-child span {
                        font-size: 14px;
                        line-height: 21px;
                    }

                    i {
                        margin-right: 2px;
                        width: 14px;
                        height: 14px;
                        font-size: 14px !important;
                    }

                    a, span {
                        font-size: 14px;
                        line-height: 21px;
                        padding: 5px 0;
                    }
                }
            }
            #language{
                ul{
                    padding: 5px 0;
                    li {
                        &:first-child {
                            display: inline-block;
                            margin-right: 6px;
                            padding-right: 6px;
                            border-right: 1px solid hsla(0, 0%, 100%, .1);
                        }

                        &:last-child {
                            display: inline-block;
                            margin-right: 0;
                            padding-right: 0;
                            border-right-width: 0;
                        }
                        a{
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        #top-bar {
            top: 32px;
            z-index: 99;
            background-color: $primaryTextColor;
            opacity: .97;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid transparent;
            @media screen and (max-width: 768px) {
                position: static;
            }

            .container {
                height: 70px;
            }

            .logo {
                width: auto;
                margin: 0 30px 0 20px;
                padding: 0;

                a {
                    height: 70px;
                    line-height: 70px;
                    padding: 0;

                    img {
                        max-width: none;
                        max-height: 70px;
                    }
                }
            }
            .menu__wrapper {
                .hamburger{
                    i{
                        border-radius: 3px;
                        color: $primaryColor;
                    }
                }
                .main-menu {
                    li {
                        position: relative;

                        &:hover ul {
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            z-index: 205;
                            margin: 0;
                            //background-image: url("./resources/assets/images/background/box_shadow.png");
                            background-repeat: no-repeat;
                            background-position: 0 0;
                        }

                        & > a {
                            color: #000000;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 30px;
                            padding: 20px 0;

                            span {
                                padding-right: 30px;
                                line-height: 30px;
                                padding: 0 20px;
                                white-space: nowrap;
                                border-right: 1px solid rgba(0, 0, 0, 0.5);
                            }
                        }
                    }

                    .menu__toggle {
                        color: #444444;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        padding-left: 0;
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        transform: translateY(-50%);
                        opacity: .3;
                    }
                }
            }


        }
    }

}
