$primaryColor: #41afaa;
$primaryTextColor: #FFFFFF;
$secondaryTextColor: #CCCCCC;
$backgroundColor: #FCFCFC;
$headerBackgroundColor: #000119;
$footerBackgroundColor: #292b33;
$footerTextPrimaryColor: #cccccc;
