*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
a{
    text-decoration: none;
    color:var(--TextColorPrimary);
    padding-left: 0;
}
p{
    margin: 0 0 15px;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
.section{
    position: relative;
    box-sizing: border-box;
}
.row__inner{
    position: relative;
    margin: 0 12px 40px 12px;
}
.section__wrapper{
    max-width: 1220px;
    margin: 0 auto;
    height: auto !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.content__wrapper{
    margin-bottom: 15px;
    margin-right:  1%;
    margin-left: 1%;
    width: 98%;
}
:root{
    --FooterDefaultColor:#cccccc;
    --primaryColor: #41afaa ;
    --TextColorPrimary:#FFFFFF;
    --TextColorSecondary:#CCCCCC;
}
@import "resources/css/layout/footer.scss";
ul,li{
    list-style: none;
}
body{
    width: 100%;
    min-height: 100vh;
}

.container{
    width: 100%;
    height:100%;
    margin: 0 auto;
}
#wrapper{
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
}
/*header*/
#header{
    min-height: 100px !important;
}
#action-bar{
    background-color: var(--primaryColor);
    z-index: 30;
    line-height: 21px;
}

#action-bar ul li{
    margin-right: 10px;
    padding: 5px 0;
}
#action-bar ul li:first-child span{
    font-size: 14px;
    line-height: 21px;
}
#action-bar ul li i{
    margin-right: 2px;
    width: 14px;
    height: 14px;
    font-size: 14px !important;
}
#action-bar ul li a,#action-bar ul li span{
    font-size: 14px;
    line-height: 21px;
    padding:5px 0;
}
#action-bar .language li:first-child{
    display: inline-block;
    margin-right: 6px;
    padding-right: 6px;
    border-right: 1px solid hsla(0,0%,100%,.1);
}
#action-bar .language li:last-child{
    display: inline-block;
    margin-right: 0;
    padding-right: 0;
    border-right-width:0;
}
#top-bar{
    top:32px;
    z-index: 99;
    background-color: var(--TextColorPrimary);
    opacity: .97;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.1);
    border-bottom: 1px solid transparent;
}
#top-bar .container{
    height: 70px;
}
#top-bar .logo{
    width: auto;
    margin: 0 30px 0 20px;
    padding:0;
}
#top-bar .logo a{
    height: 70px;
    line-height: 70px;
    padding: 0;
}
#top-bar .logo a img{
    max-width:none;
}
#top-bar .menu__wrapper .main-menu li{
    position: relative;

}
#top-bar .menu__wrapper .main-menu li:hover ul{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 205;
    margin: 0;
    background-image: url("./resources/assets/images/background/box_shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0 ;
}
#top-bar .menu__wrapper .main-menu li > a span{
    padding-right: 30px;
    line-height: 30px;
    padding: 0 20px;
    white-space: nowrap;
    border-right: 1px solid rgba(0,0,0,0.5);
}
#top-bar .menu__wrapper .main-menu li > a{
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}
#top-bar .menu__wrapper .main-menu .menu__toggle{
    color:#444444;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding-left: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    opacity: .3;
}
/*end of header*/

/*content*/

#content{
    padding-top: 30px;
    width: 100%;
}
/*end of content*/


/*footer*/
#footer{
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #292b33;
    position: relative;
}
#footer .footer__wrapper .container{
    height: auto !important;
}
#footer .section{
    margin: 30px 0;
}
#footer h4{
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 15px;
    color:var(--TextColorSecondary);
}
#footer .row div div ul{
    padding: 5px 10px 5px 30px;
    background: rgba(0,0,0,.03);
}
#footer .row div div ul li{
    color:var(--primaryColor);
    list-style-type: square !important;
    text-align: left;
    line-height: 25px;
    position: relative;
}
#footer .row div ul:before{

    color:var(--primaryColor)
}

#footer .row div ul li a{
    font-size: 14px;
    line-height: 25px;
    padding: 8px 0 9px 3px;
}
#footer .row div ul li:hover a {
    color: var(--primaryColor);
    text-decoration: underline;
    cursor:pointer;
}
#footer .row div ul li:after{
    content: "";
    display: block;
    border: solid hsla(0,0%,100%,.08);
    border-width: 0 0 1px;
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 70px;
}

.footer__copy{
    width: 100%;
    border-top:1px solid rgba(255,255,255,.1);
}
.footer__copy .container .row{
    padding-bottom: 20px;
    padding-top: 30px;
    min-height: 33px;
}
.footer__copy .copyright span{
    font-size: 14px;
    line-height: 25px;
    color: var(--TextColorSecondary);
}
.footer__icons li {
    display: inline-block;
    margin-right: 6px;
}
.footer__icons li:hover a{
    color:var(--primaryColor);
}
.footer__icons li a{
    font-size: 15px;
    line-height: 15px;
}


/*end of footer*/

@media only screen and(max-width: 1239px){
    .responsive-menu-toggle{
        display: block;
    }
}


/*contact-us*/

#contact-us__map .container{
    border:1px solid black;
    box-shadow:2px 2px 5px 2px black;
}

/*testimonials*/
#testimonials__content .content__wrapper h4{
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0;
}
#testimonials__content .content__wrapper .col-12{
    border: 3px dashed red;
    border-radius: 20px;
    padding: 20px;
    background: white;
    font-family: monospace;
    margin-bottom: 35px;
}


/*ceo-message*/
.message .image img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
